importFrom(terra, extract, crs)
importFrom(geodata, world)
importFrom(readxl, read_excel)
importFrom(writexl, write_xlsx)

export(
bindr, change_names, check_terms, compile_carob, find_outliers, fix_name,
get_locations, get_data, get_more_data, get_function, 
get_references, get_terms, get_accepted_values, extract_metadata,
geocode, geocode_duplicates, is_excel, 
make_carob, process_carob, run_carob, make_reports, 
write_files, simple_uri, replace_values, read.excel, read.excel.hdr,
eng_months_to_nr, on_github, read_metadata, update_todo
)
